{% extends "Admin/base.html" %}
{% block page %}Badge management{% endblock %}
{% block jsfile %}catalog{% endblock %}
{% block body %}
<div class="row">
    <div class="col-md-12" id="eItemPage" style="display: none;">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                  Editar página de item
               </h3>
                </div>
                <div class="kt-subheader__wrapper kt-margin-t-10">
                    <a id="#" class="btn btn-clean btn-icon-sm goBackWizard" style="">
                        <i class="la la-long-arrow-left"></i>Voltar
                    </a>
                </div>
            </div>
            <form class="kt-form" id="itemForm" method="post" action="catalog/addItem">
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">ID da Sprite</label>
                        <div class="col-9">
                            <input type="text" name="sprite_id" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Nome do item</label>
                        <div class="col-9">
                            <input type="text" name="item_name" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Nome Público</label>
                        <div class="col-9">
                            <textarea name="public_name" class="form-control" id="text-input"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Largura</label>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" name="width">
                        </div>
                        <label for="example-text-input" class="col-1 col-form-label">Comprimento</label>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" name="length">
                        </div>
                        <label for="example-text-input" class="col-1 col-form-label">Altura</label>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" name="stack_height">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Página</label>
                        <div class="col-9">
                            <select name="page_id" id="selectPage" class="form-control" required></select>
                        </div>
                    </div>
                  <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir pilha</label>
                        <div class="col-9">
                            <select name="allow_stack" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir sentar</label>
                        <div class="col-9">
                            <select name="allow_sit" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir postura</label>
                        <div class="col-9">
                            <select name="allow_lay" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir caminhada</label>
                        <div class="col-9">
                            <select name="allow_walk" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir presente</label>
                        <div class="col-9">
                            <select name="allow_gift" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                  <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir comércio</label>
                        <div class="col-9">
                            <select name="allow_trade" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir comércio</label>
                        <div class="col-9">
                            <select name="allow_recycle" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir venda no mercado</label>
                        <div class="col-9">
                            <select name="allow_marketplace_sell" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Permitir pilha de estoque</label>
                        <div class="col-9">
                            <select name="allow_inventory_stack" class="form-control">
                                <option value="0">Não</option>
                                <option value="1">Sim</option>
                            </select>
                        </div>
                    </div>         
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Tipo de item</label>
                        <div class="col-9">
                            <select name="type" class="form-control">
                                <option value="s">Chão</option>
                                <option value="i">Parede</option>
                                <option value="r">Bot</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Tipo de interação</label>
                        <div class="col-9">
                            <select name="interaction_type" id="selectPage" class="form-control" required>
                                <option value="adjustable_height">adjustable_height</option>
                                <option value="adjustable_height_seat">adjustable_height_seat</option>
                                <option value="alert">alert</option>
                                <option value="background">background</option>
                                <option value="badge">badge</option>
                                <option value="badge_display">badge_display</option>
                                <option value="ball">ball</option>
                                <option value="ball_old">ball_old</option>
                                <option value="beach_shower">beach_shower</option>
                                <option value="bed">bed</option>
                                <option value="clothing">clothing</option>
                                <option value="crackable">crackable</option>
                                <option value="default">default</option>
                                <option value="dice">dice</option>
                                <option value="dimmer">dimmer</option>
                                <option value="gate">gate</option>
                                <option value="gift">gift</option>
                                <option value="group_gate">group_gate</option>
                                <option value="group_item">group_item</option>
                                <option value="habbowheel">habbowheel</option>
                                <option value="halo_tile">halo_tile</option>
                                <option value="lovelock">lovelock</option>
                                <option value="mannequin">mannequin</option>
                                <option value="onewaygate">onewaygate</option>
                                <option value="photo">photo</option>
                                <option value="postit">postit</option>
                                <option value="privatechat">privatechat</option>
                                <option value="privatechat_bed">privatechat_bed</option>
                                <option value="rentals">rentals</option>
                                <option value="roller">roller</option>
                                <option value="roombg">roombg</option>
                                <option value="soundmachine">soundmachine</option>
                                <option value="teleport">teleport</option>
                                <option value="trophy">trophy</option>
                                <option value="vendingmachine">vendingmachine</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Contagem de interação</label>
                        <div class="col-9">
                            <input type="text" name="interaction_modes_count" class="form-control">
                        </div>
                    </div>
                  
                <div class="kt-portlet">

                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label for="example-text-input" class="col-3 col-form-label">Nome do catálogo</label>
                            <div class="col-9">
                                <input type="text" name="catalog_name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-3 col-form-label"></label>
                            <div class="col-lg-2">
                                <label>Créditos</label>
                                <input type="number" class="form-control" name="cost_credits">
                            </div>
                            <div class="col-lg-2">
                                <label class="">Pontos de Custo</label>
                                <input type="number" class="form-control" name="cost_points">
                            </div>
                            <div class="col-lg-2">
                                <label class="">Tipo de ponto</label>
                                <input type="number" class="form-control" name="points_type">
                            </div>
                            <div class="col-lg-2">
                                <label class="">Quantias</label>
                                <input type="number" class="form-control" name="amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-text-input" class="col-3 col-form-label"></label>
                            <div class="col-lg-2">
                                <label>Vendas limitadas</label>
                                <input type="number" class="form-control" name="limited_sells">
                            </div>
                            <div class="col-lg-2">
                                <label class="">Limite de pilhas</label>
                                <input type="number" class="form-control" name="limited_stack">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="kt-portlet__foot kt-portlet__foot--solid">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-3">
                                <input type="hidden" name="object">
                                <input type="hidden" name="furniture_id">
                                <button type="submit" class="btn btn-primary ajaxLoad" name="additem">Editar item</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="col-md-12" id="eCatalogPage" style="display: none;">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                  Editar página do catálogo
               </h3>
                </div>
                <div class="kt-subheader__wrapper kt-margin-t-10">
                    <a id="#" class="btn btn-clean btn-icon-sm goBackWizard" style="">
                        <i class="la la-long-arrow-left"></i>Voltar
                    </a>
                </div>
            </div>
            <form class="kt-form" id="catalogForm" method="post" action="catalog/request">
                <div class="kt-portlet__body">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Nome da página</label>
                        <div class="col-9">
                            <input type="text" name="caption" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Teaser da página</label>
                        <div class="col-9">
                            <textarea name="page_teaser" class="form-control" id="text-input"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Cabeçalho da página</label>
                        <div class="col-9">
                            <textarea name="page_headline" class="form-control" id="text-input"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Página Principal</label>
                        <div class="col-9">
                            <select name="parent_id" id="selectPage" class="form-control" required></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Layout da página</label>
                        <div class="col-9">
                            <select name="page_layout" id="pagelayout" class="form-control" required>
                                <option value="default_3x3">default_3x3</option>
                                <option value="default_3x3_color_grouping">default_3x3_color_grouping</option>
                                <option value="bots">bots</option>
                                <option value="pets">pets</option>
                                <option value="pets2">pets2</option>
                                <option value="pets3">pets3</option>
                                <option value="roomads">roomads</option>
                                <option value="info_duckets">info_duckets</option>
                                <option value="info_loyalty">info_loyalty</option>
                                <option value="soundmachine">soundmachine</option>
                                <option value="single_bundle">single_bundle</option>
                                <option value="trophies">trophies</option>
                                <option value="spaces_new">spaces_new</option>
                                <option value="guild_custom_furni">guild_custom_furni</option>
                                <option value="badge_display">badge_display</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Visível</label>
                        <div class="col-9">
                            <select name="visible" id="visible" class="form-control" required>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Ativar</label>
                        <div class="col-9">
                            <select name="enabled" id="enabled" class="form-control" required>
                                <option value="1">Sim</option>
                                <option value="0">Não</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot kt-portlet__foot--solid">
                    <div class="kt-form__actions">
                        <div class="row">
                            <div class="col-3">
                                <input type="hidden" name="catid">
                                <input type="hidden" name="object" value="edit">
                                <button type="submit" class="btn btn-primary ajaxLoad">Editar catálogo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-12" id="catalogList">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
               <i class="kt-font-brand flaticon-bag"></i>
               </span>
                    <h3 class="kt-portlet__head-title">
                  Páginas de catálogo
               </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div class="kt-portlet__head-wrapper">
                        <div class="col-md-8 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                        <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-3 kt-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__label">
                                    <button class="btn btn-secondary" type="button" id="kt_datatable_catalog_reload">Reload</button>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown dropdown-inline">
                            <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="flaticon-more-1"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(110px, 38px, 0px);">
                                <ul class="kt-nav">
                                    <li class="kt-nav__section kt-nav__section--first">
                                        <span class="kt-nav__section-text">Ações</span>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-plus"></i>
                                            <span class="kt-nav__link-text addItem addCatalogPage"></span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a class="kt-nav__link">
                                            <i class="kt-nav__link-icon flaticon2-plus"></i>
                                            <span class="kt-nav__link-text">Gestão de emblemas</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div id="kt_datatable_catalog"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}